<p-table #dt2 [value]="cards" dataKey="id" [rows]="10" [totalRecords]="quantity" [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,20,50,100]" [loading]="loading" styleClass="p-datatable-responsive-type" [paginator]="true"
         [globalFilterFields]="['cardName','edition.name']" xmlns="http://www.w3.org/1999/html">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
			<span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>
<!--      <button pButton pRipple type="button" label="Collections Indexes" class="p-button-outlined p-button-secondary" style="width:250px" (click)="openDialog()"></button>-->
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Card # <p-columnFilter type="text" field="cardNumber" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Card Name <p-columnFilter type="text" field="cardName" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Collection <p-columnFilter type="text" field="edition.name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Quality
          <p-columnFilter field="quality" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="p-px-3 p-pt-3 p-pb-0">
                <span class="p-text-bold">Quality Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="qualityArray" placeholder="All"
                             (onChange)="filter($event.value)" >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Quantity <p-columnFilter type="text" field="quantity" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Language <p-columnFilter type="text" field="language" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Rarity
          <p-columnFilter field="rarity" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="p-px-3 p-pt-3 p-pb-0">
                <span class="p-text-bold">Rarity Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="rarityArray" placeholder="All"
                             (onChange)="filter($event.value)" >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
            </p-columnFilter>
        </div>
        </th>
      <th style="width: 6rem">
        <div class="p-d-flex p-jc-between p-ai-center">
          Extras <p-columnFilter type="text" field="extras" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Date added <p-columnFilter type="date" field="dateImport" display="menu"></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-card>
    <tr>
      <td>
        <span class="p-column-title">Card #</span>
        {{card.cardNumber}}
      </td>
      <td>
        <span class="p-column-title">Card Name</span>
        {{card.cardName}}
      </td>
      <td>
        <span class="p-column-title">Collection</span>
        <div class="table-ligapokemon">
          <img [alt]="card.edition.name" src="assets/icons/{{getIcon(card.edition.image)}}" height="16" style="vertical-align: middle" />
          <div class="item-ligapokemon">{{card.edition.name}}</div>
        </div>
      </td>
      <td>
        <span class="p-column-title">Quality</span>
        {{card.quality}}
      </td>
      <td>
        <span class="p-column-title">Quantity</span>
        {{card.quantity}}
      </td>
      <td>
        <span class="p-column-title">Language</span>
        {{card.language}}
      </td>
      <td>
        <span class="p-column-title">Rarity</span>
        {{card.rarity}}
      </td>
      <td>
        <span class="p-column-title">Extras</span>
        {{card.extras}}
      </td>
      <td>
        <span class="p-column-title">Date added</span>
        {{card.dateImport | date}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No cards found.</td>
    </tr>
  </ng-template>
</p-table>
