<div>
  <p>This component is responsible for exporting the file needed to import your collection, from this site, to LigaPokemon. You can always export all your cards from a specific collection (by clicking the collection name on the list) or all your cards using the "Export all collections" option.</p>
</div>

<div class="ui-fluid">
  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <button pButton pRipple type="button" [label]="'Export all collections'" class="p-button-outlined p-button-secondary" style="width:250px" (click)="export('all_collection')"></button>
    </div>
    <div class="p-field p-col" *ngFor="let key of buttons">
      <button pButton pRipple type="button" [label]="getLabel(key)" class="p-button-outlined p-button-secondary" style="width:250px" (click)="export(key)"></button>
    </div>
  </div>
</div>
