 <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Username" [(ngModel)]="email">
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input type="password" pInputText placeholder="Password" [(ngModel)]="password" >
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <p-button icon="pi pi-check" (click)="login()"></p-button>
    </div>
  </div>
