label {
  font-weight: bold;
}

.openModal {
  font-weight: bold;
  color: #9980FA;
  cursor: pointer;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .div-line {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-right: 2%;
  }

}

.dataview-grid.ui-dataview .ui-dataview-header {
  border-bottom: 0 none;
  display: none;
}

.div-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.container-fieldset {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.container-fieldset::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

:host ::ng-deep {
  .p-datatable-responsive-type .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-type {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin:auto;
  transition: 200ms all;
}

.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 10px #92BC2C;
}

.darkness {
  background: #595761;
  box-shadow: 0 0 10px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 10px #0C69C8;
}

.lightning {
  background: #F2D94E;
  box-shadow: 0 0 10px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 10px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 10px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 10px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 10px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 10px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 10px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 10px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 10px #75D0C1;
}

.colorless {
  background: #A0A29F;
  box-shadow: 0 0 10px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 10px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 10px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 10px #C9BB8A;
}

.metal {
  background: #5695A3;
  box-shadow: 0 0 10px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 10px #539DDF;
}

