<p-toast position="top-center" key="tc"></p-toast>

<div class="card">
  <p-table #dt [value]="cards" [rows]="pageSize" [paginator]="true" [globalFilterFields]="['cardApi.name','cardApi.set.name','cardApi.number']"
           [rowHover]="true" dataKey="key"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" (onPage)="gotoTop()">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <button pButton pRipple label="Update Prices" icon="pi pi-dollar" class="p-button-secondary p-mr-2" (click)="updatePrices()"></button>
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <div>
          <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                  </span>
          <p-dropdown [options]="pageSizeArray" [(ngModel)]="pageSize" placeholder="Rows per page" optionLabel="name" optionValue="value" [showClear]="false"></p-dropdown>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="cardApi.number">Number <p-sortIcon field="cardApi.number"></p-sortIcon></th>
        <th pSortableColumn="cardApi.name">Name <p-sortIcon field="cardApi.name"></p-sortIcon></th>
        <th></th>
        <th pSortableColumn="cardApi.set.name">Collection <p-sortIcon field="cardApi.set.name"></p-sortIcon></th>
        <th>Extras</th>
        <th pSortableColumn="cardApi.cardCSV.language">Language <p-sortIcon field="cardApi.cardCSV.language"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
      <tr>
        <td>{{card.cardApi.number}}</td>
        <td>{{card.cardApi.name}}</td>
        <td><img [src]="card.cardApi.images.small" [alt]="card.cardApi.name" width="100" class="p-shadow-4" /></td>
        <td>{{card.cardApi.set.name}}</td>
        <td>{{getExtras(card)}}</td>
        <td>{{card.cardApi.cardCSV.language}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCard(card)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCard(card)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{cards ? cards.length : 0 }} cards.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="cardDialog" [style]="{width: '80%'}" header="Card Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="card-content">
      <div [style]="{width: '60%'}">
        <img [src]="card.cardApi.images.large" [alt]="card.cardApi.name" class="card-image" *ngIf="card.cardApi.images.large">
      </div>
      <div [style]="{marginLeft: '1%', width: '100%'}">
        <div class="p-formgrid p-grid">
          <div class="p-field p-col">
              <label for="name">Name</label>
              <input type="text" pInputText id="name" [(ngModel)]="card.cardApi.name"/>
          </div>
          <div class="p-field p-col">
            <label for="number">Card Number</label>
            <input type="text" pInputText id="number" [(ngModel)]="card.cardApi.number"/>
          </div>
          <div class="p-field p-col">
            <label for="rarity">Rarity</label>
            <input type="text" pInputText id="rarity" [(ngModel)]="card.cardApi.rarity"/>
          </div>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="setId">Set ID</label>
            <input type="text" pInputText id="setId" [(ngModel)]="card.cardApi.set.id"/>
          </div>
          <div class="p-field p-col">
            <label for="setName">Set Name</label>
            <input type="text" pInputText id="setName" [(ngModel)]="card.cardApi.set.name"/>
          </div>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="supertype">Supertype</label>
            <input type="text" pInputText id="supertype" [(ngModel)]="card.cardApi.supertype"/>
          </div>
          <div class="p-field p-col">
            <label for="subTypes">Subtypes</label>
            <p-multiSelect inputId="subTypes" [options]="subtypes" [(ngModel)]="card.cardApi.subtypes" defaultLabel="Select Subtypes" display="chip"></p-multiSelect>
          </div>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col">
            <label for="quantity">Quantity</label>
            <p-inputNumber id="quantity" [(ngModel)]="card.cardApi.cardCSV.quantity"></p-inputNumber>
          </div>
          <div class="p-field p-col" *ngIf="card.cardApi.cardCSV.extras">
            <label for="extras">Extras: </label>
            <p-multiSelect inputId="extras" [options]="extras" [(ngModel)]="card.cardApi.cardCSV.extras" defaultLabel="Select Extras" display="chip"></p-multiSelect>
          </div>
        </div>
        <div class="p-field p-col" *ngIf="card.cardApi.artist">
          <label for="artist">Artist</label>
          <input type="text" pInputText id="artist" [(ngModel)]="card.cardApi.artist"/>
        </div>
        <div class="p-field p-col" *ngIf="card.cardApi.flavorText">
          <label for="flavorText">Flavor Text</label>
          <textarea id="flavorText" rows="1" pInputTextarea autoResize="autoResize" [(ngModel)]="card.cardApi.flavorText"></textarea>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCard()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
