<div class="card">
  <p-table #dt [value]="cards" [rows]="10" [paginator]="true" [globalFilterFields]="['cardApi.name','cardApi.set.name','cardApi.number']"
           [rowHover]="true" dataKey="key"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" (onPage)="gotoTop()">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="number">Number <p-sortIcon field="cardApi.number"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="cardApi.name"></p-sortIcon></th>
        <th></th>
        <th pSortableColumn="collection">Collection <p-sortIcon field="cardApi.set.name"></p-sortIcon></th>
        <th pSortableColumn="extras">Extras</th>
        <th pSortableColumn="language">Language <p-sortIcon field="cardApi.cardCSV.language"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
      <tr>
        <td>{{card.cardApi.number}}</td>
        <td>{{card.cardApi.name}}</td>
        <td><img [src]="card.cardApi.images.small" [alt]="card.cardApi.name" width="100" class="p-shadow-4" /></td>
        <td>{{card.cardApi.set.name}}</td>
        <td>{{getExtras(card)}}</td>
        <td>{{card.cardApi.cardCSV.language}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCard(card)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCard(card)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{cards ? cards.length : 0 }} cards.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="cardDialog" [style]="{width: '450px'}" header="Card Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <img [src]="card.cardApi.images.large" [alt]="card.cardApi.name" class="card-image" *ngIf="card.cardApi.images.small">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="card.cardApi.name" [disabled]="true"/>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="quantity">Quantity</label>
        <p-inputNumber id="quantity" [(ngModel)]="card.cardApi.cardCSV.quantity"></p-inputNumber>
      </div>
      <div class="p-field p-col" *ngIf="card.cardApi.cardCSV.extras">
        <div class="extrasLine"><label for="extras">Extras: </label> <button *ngIf="showAddButton" pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-outlined"></button> </div>
        <div id="extras">
          <p-chip *ngFor="let extra of card.cardApi.cardCSV.extras" [label]="extra" [removable]="true" (onRemove)="removeExtra(extra)"></p-chip>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCard()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
