
<p-messages></p-messages>

<span *ngIf="csvReader.totalLines">{{csvReader.linesRead}} of {{csvReader.totalLines}} inserted</span>

<div class="p-grid p-mt-2">
  <div class="p-col">
    <div class="box">
      <p-fileUpload #uploader accept=".csv" customUpload="true" (uploadHandler)="uploadFile($event)"
                    multiple="multiple" maxFileSize="1000000">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</div>
